In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
import collections
# print(os.listdir("../input"))

In [0]:
#data = pd.read_csv('../input/imbd-sf/data.csv')
#data.head(5)
# в Google colab csv загружаются так:

from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

In [0]:
import io
df = pd.read_csv(io.BytesIO(uploaded['data.csv'])) #Upload dataset

df['loss'] = df['revenue'] - df['budget'] #add revenue column
df['year'] = df.release_date.apply(lambda x : int(x[-4:])) # add year of release column
df['genre_list'] = df.genres.apply(lambda x : Counter(x.split('|'))) # add column with list of genres of the movie
df['director_list'] = df.director.apply(lambda x : Counter(x.split('|'))) # add column with list of directors of the movie
df['actor_list'] = df.cast.apply(lambda x: x.split('|')) # add column with list of actors of the movie
df['income_pre_actor'] = df['loss']/len(df['actor_list']) # add column with revenue per actor
df['studio_list'] = df.production_companies.apply(lambda x : x.split('|')) # add column with list of studios of the movie
df['month'] = df.release_date.apply(lambda x : int(x[:x.find('/')]))  # add month of release column
df['symbols'] = df.original_title.apply(lambda x: len(x)) # add number of symbols in title column
df['words'] = df.original_title.apply(lambda x: len(x.split())) # add number of words in title column
df['title_list'] = df.original_title.apply(lambda x: x.split())# add column with list of words in title

In [0]:
len(df)

1890

# Предобработка датасета

In [0]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [0]:
df.columns

Index(['imdb_id', 'popularity', 'budget', 'revenue', 'original_title', 'cast',
       'director', 'tagline', 'overview', 'runtime', 'genres',
       'production_companies', 'release_date', 'vote_count', 'vote_average',
       'release_year'],
      dtype='object')

In [0]:
df.sort_values(by ='budget', axis=0, ascending = False).head(1)

       imdb_id  popularity  ...  income_pre_actor                 studio_list
491  tt1032751     0.25054  ...    -219001.286243  [Boram Entertainment Inc.]

[1 rows x 23 columns]

In [0]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [0]:
df.sort_values(by = 'runtime', axis = 0, ascending=False).head(1)

        imdb_id  ...                            studio_list
1158  tt0279111  ...  [Turner Pictures, Antietam Filmworks]

[1 rows x 23 columns]

In [0]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [0]:
df.sort_values(by = 'runtime', axis = 0, ascending=True).head(1)

       imdb_id  ...                                        studio_list
769  tt1449283  ...  [Walt Disney Pictures, Walt Disney Animation S...

[1 rows x 23 columns]

In [0]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [0]:
round(df.runtime.mean())

110

In [0]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [0]:
round(df.runtime.median())

106

In [0]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [0]:
df[df.revenue ==  df['revenue'].max()]

       imdb_id  popularity     budget  ...  vote_count vote_average release_year
239  tt0499549    9.432768  237000000  ...        8458          7.1         2009

[1 rows x 16 columns]

In [0]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [0]:
df['loss'] = df['revenue'] - df['budget']
df[df['loss'] == df['loss'].min()]

       imdb_id  ...                                              actor
491  tt1032751  ...  [Kate Bosworth, Jang Dong-gun, Geoffrey Rush, ...

[1 rows x 19 columns]

In [0]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [0]:
len(df[df.loss > 0])

1478

In [0]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [0]:
df['year'] = df.release_date.apply(lambda x : int(x[-4:]))
df[(df.year == 2008)].sort_values(by = 'revenue', axis = 0, ascending=False).head(1)

       imdb_id  ...                                         genre_list
600  tt0468569  ...  {'Drama': 1, 'Action': 1, 'Crime': 1, 'Thrille...

[1 rows x 20 columns]

In [0]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [0]:
df[(df.year >= 2012)&(df.year <= 2014)].sort_values(by = 'loss', axis = 0, ascending=True).head(1)

        imdb_id  ...                                   genre_list
1246  tt1210819  ...  {'Action': 1, 'Adventure': 1, 'Western': 1}

[1 rows x 20 columns]

In [0]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [0]:
import collections
df['genre_list'] = df.genres.apply(lambda x : Counter(x.split('|')))
df['genre_list'].sum().most_common(1)

[('Drama', 782)]

In [0]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [0]:
df3[df3.loss > 0]['genre_list'].sum().most_common(1)

[('Drama', 560)]

In [0]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [0]:
df['director_list'] = df.director.apply(lambda x : Counter(x.split('|')))
df['director_list'].sum().most_common(1)

[('Steven Soderbergh', 13)]

In [0]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [0]:
df[df.loss > 0]['director_list'].sum().most_common(1)

[('Ridley Scott', 12)]

In [0]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [0]:
df.groupby(['director']).loss.sum().sort_values(ascending = False)

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: loss, Length: 958, dtype: int64

In [0]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [0]:
df['income_pre_actor'] = df['loss']/len(df['actor_list'])
df['income_pre_actor'].head()

0    721443.814815
1    120865.795767
2     98009.630159
3    988454.087302
4    696428.232804
Name: income_pre_actor, dtype: float64

In [0]:
emma = df[df.cast.apply(lambda x: 'Emma Watson' in x)]['income_pre_actor'].sum()
jonny = df[df.cast.apply(lambda x: 'Johnny Depp' in x)]['income_pre_actor'].sum()
mike = df[df.cast.apply(lambda x: 'Michelle Rodriguez' in x)]['income_pre_actor'].sum()
orlando = df[df.cast.apply(lambda x: 'Orlando Bloom' in x)]['income_pre_actor'].sum()
rup = df[df.cast.apply(lambda x: 'Rupert Grint' in x)]['income_pre_actor'].sum()

if emma == max(emma, jonny,mike,orlando,rup):
  print('Emma Watson')
elif jonny == max(emma, jonny,mike,orlando,rup):
  print('Johnny Depp')
elif mike == max(emma, jonny,mike,orlando,rup):
  print('Michelle Rodriguez')  
elif orlando == max(emma, jonny,mike,orlando,rup):
  print('Orlando Bloom')  
elif rup == max(emma, jonny,mike,orlando,rup):
  print('Rupert Grint')
else: 
  print('Check me baby one more time')

Emma Watson

In [0]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [0]:
cage = df[(df.cast.apply(lambda x: 'Nicolas Cage' in x))&(df.year == 2012)]['income_pre_actor'].sum()
huston = df[(df.cast.apply(lambda x: 'Danny Huston' in x))&(df.year == 2012)]['income_pre_actor'].sum()
dunst = df[(df.cast.apply(lambda x: 'Kirsten Dunst' in x))&(df.year == 2012)]['income_pre_actor'].sum()
sturgess = df[(df.cast.apply(lambda x: 'Jim Sturgess' in x))&(df.year == 2012)]['income_pre_actor'].sum()
gayle = df[(df.cast.apply(lambda x: 'Sami Gayle' in x))&(df.year == 2012)]['income_pre_actor'].sum()

if cage == min(cage,huston,dunst,sturgess,gayle):
  print('Nicolas Cage')
elif huston == min(cage,huston,dunst,sturgess,gayle):
  print('Danny Huston')
elif dunst == min(cage,huston,dunst,sturgess,gayle):
  print('Kirsten Dunst')  
elif sturgess == min(cage,huston,dunst,sturgess,gayle):
  print('Jim Sturgess')  
elif gayle == min(cage,huston,dunst,sturgess,gayle):
  print('Sami Gayle')
else: 
  print('Check me baby one more time')

Kirsten Dunst

In [0]:
answer_ls.append(2)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [0]:
Counter(df[df.budget > df.budget.mean()]['actor_list'].sum()).most_common(1)

[('Matt Damon', 18)]

In [0]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [0]:
df[df.cast.apply(lambda x: 'Nicolas Cage' in x)]['genre_list'].sum().most_common(1)

[('Action', 17)]

In [0]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [0]:
df['studio_list'] = df.production_companies.apply(lambda x : x.split('|'))
Counter(df['studio_list'].sum()).most_common(1)

[('Universal Pictures', 173)]

In [0]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [0]:
Counter(df[df.year == 2015]['studio_list'].sum()).most_common(1)

[('Warner Bros.', 12)]

In [0]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [0]:
wb = df[(df.production_companies.apply(lambda x: 'Warner Bros' in x)) & 
   (df.genres.apply(lambda x: 'Comedy' in x))]['loss'].sum()
uni = df[(df.production_companies.apply(lambda x: 'Universal' in x)) & 
   (df.genres.apply(lambda x: 'Comedy' in x))]['loss'].sum()
cp = df[(df.production_companies.apply(lambda x: 'Columbia Pictures' in x)) & 
   (df.genres.apply(lambda x: 'Comedy' in x))]['loss'].sum()
pp = df[(df.production_companies.apply(lambda x: 'Paramount Pictures' in x)) & 
   (df.genres.apply(lambda x: 'Comedy' in x))]['loss'].sum()
wd = df[(df.production_companies.apply(lambda x: 'Walt Disney' in x)) & 
   (df.genres.apply(lambda x: 'Comedy' in x))]['loss'].sum()

if wb == max(wb, uni, cp, pp, wd):
  print('Warner Bros')
elif uni == max(wb, uni, cp, pp, wd):
  print('Universal')
elif cp == max(wb, uni, cp, pp, wd):
  print('Columbia Pictures')  
elif pp == max(wb, uni, cp, pp, wd):
  print('Paramount Pictures')  
elif wd == max(wb, uni, cp, pp, wd):
  print('Walt Disney')
else: 
  print('Check me baby one more time')

Universal

In [0]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [0]:
wb = df[(df.production_companies.apply(lambda x: 'Warner Bros' in x)) & 
   (df.year == 2012) ]['loss'].sum()
uni = df[(df.production_companies.apply(lambda x: 'Universal' in x)) & 
   (df.year == 2012)]['loss'].sum()
cp = df[(df.production_companies.apply(lambda x: 'Columbia Pictures' in x)) & 
   (df.year == 2012)]['loss'].sum()
pp = df[(df.production_companies.apply(lambda x: 'Paramount Pictures' in x)) & 
   (df.year == 2012)]['loss'].sum()
luc = df[(df.production_companies.apply(lambda x: 'Lucasfilm' in x)) & 
   (df.year == 2012)]['loss'].sum()

if wb == max(wb, uni, cp, pp, luc):
  print('Warner Bros')
elif uni == max(wb, uni, cp, pp, luc):
  print('Universal')
elif cp == max(wb, uni, cp, pp, luc):
  print('Columbia Pictures')  
elif pp == max(wb, uni, cp, pp, luc):
  print('Paramount Pictures')  
elif luc == max(wb, uni, cp, pp, luc):
  print('Lucasfilm')
else: 
  print('Check me baby one more time')

Columbia Pictures

In [0]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [0]:
a = df[(df.production_companies.apply(lambda x: 'Paramount Pictures' in x))]
a[a.loss == a.loss.min()]

       imdb_id  ...                                        studio_list
926  tt0267626  ...  [Paramount Pictures, Intermedia Films, Nationa...

[1 rows x 23 columns]

In [0]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [0]:
y14 = df[df.year == 2014]['loss'].sum()
y08 = df[df.year == 2008]['loss'].sum()
y12 = df[df.year == 2012]['loss'].sum()
y02 = df[df.year == 2002]['loss'].sum()
y15 = df[df.year == 2015]['loss'].sum()

a = [y14,y08,y12,y02,y15]
max(a) == a

array([False, False, False, False,  True])

In [0]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [0]:
df[['production_companies', 'release_year', 'loss']].loc[df['production_companies'].apply(lambda x: 'Warner Bros' in x)].groupby(['release_year']).sum().sort_values('loss', ascending =False).head(5)

                    loss
release_year
2014          2295464519
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682

In [0]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [0]:
df['month'] = df.release_date.apply(lambda x : int(x[:x.find('/')]))
Counter(df.month).most_common()

[(9, 227),
 (12, 191),
 (10, 186),
 (8, 161),
 (3, 156),
 (4, 149),
 (6, 147),
 (11, 146),
 (7, 142),
 (5, 140),
 (2, 135),
 (1, 110)]

In [0]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [0]:
Counter(df[(df.month >=6) & (df.month <= 8)].month)

Counter({6: 147, 7: 142, 8: 161})

In [0]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [0]:
len(df)

1890

In [0]:
df[(df.month == 1) | (df.month == 2) | (df.month == 12)].director_list.sum().most_common(1)

[('Peter Jackson', 7)]

In [0]:
answer_ls.append(1)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [0]:
pivo = pd.pivot_table(df[(df.month == 1)|(df.month == 6)|(df.month == 12)|(df.month == 9)|(df.month == 5)],index=["year","month"], 
               values=["loss"],
               aggfunc=sum)

In [0]:
pivot_best_month = df[['year', 'month', 'loss']].pivot_table(
    values = ['loss'], 
    index = ['month'], 
    columns=['year'], 
    aggfunc='sum')
pivot_best_month.idxmax(axis = 0).value_counts()

6     7
12    4
5     4
7     1
dtype: int64

In [0]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [0]:
df['symbols'] = df.original_title.apply(lambda x: len(x))

In [0]:
wb = df[df.production_companies.apply(lambda x: 'Warner Bros' in x)]['symbols'].mean()
uni = df[df.production_companies.apply(lambda x: 'Universal' in x)]['symbols'].mean()
jhc = df[df.production_companies.apply(lambda x: 'Jim Henson Company' in x)]['symbols'].mean()
pp = df[df.production_companies.apply(lambda x: 'Paramount Pictures' in x)]['symbols'].mean()
four = df[df.production_companies.apply(lambda x: 'Four By Two Productions' in x)]['symbols'].mean()

a = [uni, wb, jhc, pp, four]

a

[14.762162162162163, 15.251366120218579, 59.0, 17.0327868852459, 83.0]

In [0]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [0]:
df['words'] = df.original_title.apply(lambda x: len(x.split()))

In [0]:
wb = df[df.production_companies.apply(lambda x: 'Warner Bros' in x)]['words'].mean()
uni = df[df.production_companies.apply(lambda x: 'Universal' in x)]['words'].mean()
jhc = df[df.production_companies.apply(lambda x: 'Jim Henson Company' in x)]['words'].mean()
pp = df[df.production_companies.apply(lambda x: 'Paramount Pictures' in x)]['words'].mean()
four = df[df.production_companies.apply(lambda x: 'Four By Two Productions' in x)]['words'].mean()

a = [uni, wb, jhc, pp, four]

a

[2.627027027027027, 2.73224043715847, 10.0, 2.8688524590163933, 12.0]

In [0]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [0]:
df['title_list'] = df.original_title.apply(lambda x: x.split())
words = df['title_list']
words_mini = [x.lower() for x in words]
wtup = set(words_mini)
len(wtup)

2461

In [0]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [0]:
df[df.vote_average >= np.percentile(df.vote_average,99)]

        imdb_id  ...                                         title_list
9     tt2096673  ...                                      [Inside, Out]
28    tt1895587  ...                                        [Spotlight]
34    tt3170832  ...                                             [Room]
118   tt0816692  ...                                     [Interstellar]
119   tt2015381  ...                       [Guardians, of, the, Galaxy]
124   tt2245084  ...                                     [Big, Hero, 6]
125   tt2084970  ...                             [The, Imitation, Game]
128   tt2267998  ...                                       [Gone, Girl]
138   tt2278388  ...                      [The, Grand, Budapest, Hotel]
155   tt2980516  ...                      [The, Theory, of, Everything]
177   tt2582846  ...                       [The, Fault, in, Our, Stars]
283   tt0485947  ...                                      [Mr., Nobody]
316   tt1187043  ...                                        [3, Idiots]
370   tt1375666  ...                                        [Inception]
497   tt0120737  ...  [The, Lord, of, the, Rings:, The, Fellowship, ...
600   tt0468569  ...                                [The, Dark, Knight]
864   tt0167261  ...     [The, Lord, of, the, Rings:, The, Two, Towers]
873   tt0253474  ...                                     [The, Pianist]
1082  tt0167260  ...  [The, Lord, of, the, Rings:, The, Return, of, ...
1184  tt0993846  ...                      [The, Wolf, of, Wall, Street]
1189  tt1798709  ...                                              [Her]
1192  tt2024544  ...                              [12, Years, a, Slave]
1206  tt1392214  ...                                        [Prisoners]
1214  tt0790636  ...                             [Dallas, Buyers, Club]
1445  tt0482571  ...                                    [The, Prestige]
1564  tt0338013  ...       [Eternal, Sunshine, of, the, Spotless, Mind]
1689  tt0469494  ...                           [There, Will, Be, Blood]
1801  tt0209144  ...                                          [Memento]

[28 rows x 27 columns]

In [0]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [0]:
n1 = df[df.cast.apply(lambda x: 'Johnny Depp' in x)]
n11 = n1[n1.cast.apply(lambda x: 'Helena Bonham Carter' in x)].count()[0]
n2 = df[df.cast.apply(lambda x: 'Hugh Jackman' in x)]
n21 = n2[n2.cast.apply(lambda x: 'Ian McKellen' in x)].count()[0]
n3 = df[df.cast.apply(lambda x: 'Vin Diesel' in x)]
n31 = n3[n3.cast.apply(lambda x: 'Ian McKellen' in x)].count()[0]
n4 = df[df.cast.apply(lambda x: 'Adam Sandler' in x)]
n41 = n4[n4.cast.apply(lambda x: 'Kevin James' in x)].count()[0]
n5 = df[df.cast.apply(lambda x: 'Daniel Radcliffe' in x)]
n51 = n5[n5.cast.apply(lambda x: 'Rupert Grint' in x)].count()[0]

a = [n11, n21, n31, n41, n51]
a

[6, 5, 0, 5, 8]

In [0]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [0]:
director_best_list = ['Quentin Tarantino',
'Steven Soderbergh',
'Robert Rodriguez',
'Christopher Nolan',
'Clint Eastwood']

df['director_counter'] = df.director.apply(lambda x : Counter(x.split('|')))

def profit_film_perc(name):
    ratio = df['director_counter'].loc[(df.loss>0) & (df.director.apply(lambda x: name in x))].sum()[name]/df['director_counter'].loc[(df.director.apply(lambda x: name in x))].sum()[name]
    return ratio

for name in director_best_list:
    print('У {} рейтинг такой: {:.2%}'.format(name, profit_film_perc(name)))

У Quentin Tarantino рейтинг такой: 85.71%
У Steven Soderbergh рейтинг такой: 76.92%
У Robert Rodriguez рейтинг такой: 72.73%
У Christopher Nolan рейтинг такой: 100.00%
У Clint Eastwood рейтинг такой: 83.33%

In [0]:
answer_ls.append(4)

# Submission

In [0]:
len(answer_ls)

36

In [0]:
answer_ls

[4,
 2,
 3,
 2,
 1,
 5,
 2,
 1,
 4,
 5,
 3,
 1,
 3,
 4,
 5,
 1,
 2,
 3,
 2,
 1,
 4,
 2,
 3,
 1,
 5,
 5,
 4,
 2,
 1,
 2,
 5,
 5,
 3,
 1,
 5,
 2]

In [0]:
import pandas as pd
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       4
11  12       2
12  13       1
13  14       4
14  15       5