# Imports

In [171]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

# Загружаем специальный удобный инструмент для разделения датасета:
from sklearn.model_selection import train_test_split

import time
from datetime import datetime
from datetime import date, timedelta as td

# Загрузка данных

In [172]:
df = pd.read_csv('main_task.csv')
df_kag = pd.read_csv('kaggle_task.csv')

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [174]:
df_kag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      10000 non-null  object
 1   City               10000 non-null  object
 2   Cuisine Style      7693 non-null   object
 3   Ranking            10000 non-null  float64
 4   Price Range        6525 non-null   object
 5   Number of Reviews  9343 non-null   float64
 6   Reviews            9998 non-null   object
 7   URL_TA             10000 non-null  object
 8   ID_TA              10000 non-null  object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

Из отличий в датасете из Kaggle нет рейтингов, пара пустых отзывов (могут быть проблемы)

In [175]:
df.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

In [176]:
df_kag.head()

,Restaurant_id,City,Cuisine Style,Ranking,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_0,Paris,"['Bar', 'Pub']",12963.0,$$ - $$$,4.0,"[[], []]",/Restaurant_Review-g187147-d10746918-Reviews-L...,d10746918
1,id_1,Helsinki,"['European', 'Scandinavian', 'Gluten Free Opti...",106.0,$$ - $$$,97.0,"[['Very good reviews!', 'Fine dining in Hakani...",/Restaurant_Review-g189934-d6674944-Reviews-Ra...,d6674944
2,id_2,Edinburgh,['Vegetarian Friendly'],810.0,$$ - $$$,28.0,"[['Better than the Links', 'Ivy Black'], ['12/...",/Restaurant_Review-g186525-d13129638-Reviews-B...,d13129638
3,id_3,London,"['Italian', 'Mediterranean', 'European', 'Vege...",1669.0,$$$$,202.0,"[['Most exquisite', 'Delicious and authentic']...",/Restaurant_Review-g186338-d680417-Reviews-Qui...,d680417
4,id_4,Bratislava,"['Italian', 'Mediterranean', 'European', 'Seaf...",37.0,$$$$,162.0,"[['Always the best in bratislava', 'Very good ...",/Restaurant_Review-g274924-d1112354-Reviews-Ma...,d1112354

# Анализ и модификация данных

## Латаем дыры

In [177]:
df['Number of Reviews'] = df['Number of Reviews'].fillna(0)
df_kag['Number of Reviews'] = df_kag['Number of Reviews'].fillna(0)

In [178]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  40000 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [179]:
df_kag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      10000 non-null  object
 1   City               10000 non-null  object
 2   Cuisine Style      7693 non-null   object
 3   Ranking            10000 non-null  float64
 4   Price Range        6525 non-null   object
 5   Number of Reviews  10000 non-null  float64
 6   Reviews            9998 non-null   object
 7   URL_TA             10000 non-null  object
 8   ID_TA              10000 non-null  object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [180]:
df_kag['Reviews'] = df_kag['Reviews'].fillna(0)

In [181]:
df_kag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      10000 non-null  object
 1   City               10000 non-null  object
 2   Cuisine Style      7693 non-null   object
 3   Ranking            10000 non-null  float64
 4   Price Range        6525 non-null   object
 5   Number of Reviews  10000 non-null  float64
 6   Reviews            10000 non-null  object
 7   URL_TA             10000 non-null  object
 8   ID_TA              10000 non-null  object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

## Работаем с Ценой

In [182]:
df['Price Range'].unique()

array(['$$ - $$$', nan, '$$$$', '$'], dtype=object)

In [183]:
df_kag['Price Range'].unique()

array(['$$ - $$$', '$$$$', '$', nan], dtype=object)

Мы знаем, что модель не може считывать текст, имеет смысл разброс цен перевести в цифры

In [184]:
def cost_to_int(x): #число будем присуждать из количества $
    if x == '$':
        y = 1
    elif x == '$$ - $$$': # Мне кажется, что не стоит делать 1,2,3 т.к. тут разброс цен не $, $$, $$$
        y = 2.5
    elif x == '$$$$':
        y = 4
    else:
        y = 0
    return y

In [185]:
df['Price Range_int'] = df['Price Range'].apply(cost_to_int) #Создадим новый столб

In [186]:
df['Price Range_int'].value_counts() #проверим работу

2.5    18412
0.0    13886
1.0     6279
4.0     1423
Name: Price Range_int, dtype: int64

In [187]:
df_kag['Price Range_int'] = df_kag['Price Range'].apply(cost_to_int) #тоже для тренировочных данных

In [188]:
df_kag['Price Range_int'].value_counts()

2.5    4629
0.0    3475
1.0    1537
4.0     359
Name: Price Range_int, dtype: int64

## Работаем с городами

Гипотеза: В столицах в ресторанах оценка лучше

In [189]:
df['City'].unique()

array(['Paris', 'Stockholm', 'London', 'Berlin', 'Munich', 'Oporto',
       'Milan', 'Bratislava', 'Vienna', 'Rome', 'Barcelona', 'Madrid',
       'Dublin', 'Brussels', 'Zurich', 'Warsaw', 'Budapest', 'Copenhagen',
       'Amsterdam', 'Lyon', 'Hamburg', 'Lisbon', 'Prague', 'Oslo',
       'Helsinki', 'Edinburgh', 'Geneva', 'Ljubljana', 'Athens',
       'Luxembourg', 'Krakow'], dtype=object)

In [190]:
sorted(df_kag['City'].unique()) == sorted(df['City'].unique()) # Города совпадают

True

In [191]:
def capital(x): #определим какие города являются столицами

    Capitals = ['Paris','Stockholm', 'London', 'Berlin','Bratislava','Vienna', 'Rome', 'Madrid', 'Dublin', 'Brussels', 'Warsaw', 'Budapest', 'Copenhagen', 'Amsterdam', 'Lisbon', 'Prague', 'Oslo', 'Helsinki', 'Edinburgh', 'Ljubljana', 'Athens']
    if x in Capitals:
        return 1
    else:
        return 0

In [192]:
df['Capital'] = df['City'].apply(capital)

In [193]:
df[['City','Capital']].head() #Проверим, что код сработал

        City  Capital
0      Paris        1
1  Stockholm        1
2     London        1
3     Berlin        1
4     Munich        0

In [194]:
df_kag['Capital'] = df_kag['City'].apply(capital)

In [195]:
df_kag[['City','Capital']].sample(10) #Проверим, что код сработал

           City  Capital
1930      Paris        1
102      Munich        0
5265       Rome        1
4203     Berlin        1
7331     Krakow        0
1931       Oslo        1
5041       Rome        1
9254     Munich        0
6685      Paris        1
9906  Stockholm        1

## Работаем с кухней

Гипотеза: Рестораны национальной кухни имеют лучшую оценку

In [196]:
def native (x):
    French = ['Paris', 'Lyon'] 
    Sweden = ['Stockholm']
    British = ['London'] 
    German = ['Berlin', 'Munich','Hamburg']
    Portuguese = ['Oporto','Lisbon']
    Italian = ['Milan','Rome']
    Slovenian = ['Bratislava','Ljubljana']
    Austrian = ['Vienna']
    Spanish = ['Barcelona', 'Madrid']
    Scottish = ['Dublin','Edinburgh']
    Belgian = ['Brussels']
    Swiss = ['Zurich','Geneva']
    Polish = ['Warsaw','Krakow']
    Hungarian = ['Budapest']
    Danish = ['Copenhagen']
    Dutch = ['Amsterdam']
    Czech = ['Prague']
    Norwegian = ['Oslo']
    Scandinavian = ['Helsinki']
    Greek = ['Athens']
    European = ['Luxembourg'] 
    if x in French:
        return 'French'
    elif x in Sweden:
        return 'Sweden'
    elif x in British:
        return 'British'
    elif x in German:
        return 'German'
    elif x in Portuguese:
        return 'Portuguese'
    elif x in Italian:
        return 'Italian'
    elif x in Slovenian:
        return 'Slovenian'
    elif x in Austrian:
        return 'Austrian'
    elif x in Spanish:
        return 'Spanish'
    elif x in Scottish:
        return 'Scottish'
    elif x in Belgian:
        return 'Belgian'
    elif x in Swiss:
        return 'Swiss'
    elif x in Polish:
        return 'Polish'
    elif x in Hungarian:
        return 'Hungarian'
    elif x in Danish:
        return 'Danish'
    elif x in Dutch:
        return 'Dutch'
    elif x in Czech:
        return 'Czech'
    elif x in Norwegian:
        return 'Norwegian'
    elif x in Scandinavian:
        return 'Scandinavian'
    elif x in Greek:
        return 'Greek'
    elif x in European:
        return 'European'
    else:
        return 'No one'

In [197]:
df['Native Cusine'] = df['City'].apply(native)
df_kag['Native Cusine'] = df_kag['City'].apply(native)

In [198]:
df['Cuisine Style'].fillna('NoInfo', inplace=True)
df_kag['Cuisine Style'].fillna('NoInfo', inplace=True)

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      40000 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  40000 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
 10  Price Range_int    40000 non-null  float64
 11  Capital            40000 non-null  int64
 12  Native Cusine      40000 non-null  object
dtypes: float64(4), int64(1), object(8)
memory usage: 4.0+ MB

In [200]:
df_kag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      10000 non-null  object
 1   City               10000 non-null  object
 2   Cuisine Style      10000 non-null  object
 3   Ranking            10000 non-null  float64
 4   Price Range        6525 non-null   object
 5   Number of Reviews  10000 non-null  float64
 6   Reviews            10000 non-null  object
 7   URL_TA             10000 non-null  object
 8   ID_TA              10000 non-null  object
 9   Price Range_int    10000 non-null  float64
 10  Capital            10000 non-null  int64
 11  Native Cusine      10000 non-null  object
dtypes: float64(3), int64(1), object(8)
memory usage: 937.6+ KB

In [201]:
def isincheck (native,cuis):
    if len(list(cuis)) < 1:
        return 0
    else:
        if native in cuis:
            return 1
        else:
            return 0

In [202]:
df['Native_test'] = df.apply(lambda x: isincheck(x['Native Cusine'],x['Cuisine Style']), axis = 1)

In [203]:
df_kag['Native_test'] = df_kag.apply(lambda x: isincheck(x['Native Cusine'],x['Cuisine Style']), axis = 1)

Гипотеза: Количество кухонь влияет на оценку

In [204]:
def listing(x):
    
    x = x.replace('[','')
    x = x.replace(']','')
    x = x.replace("'","")
    x = x.replace(" ","")
    x = x.split(',')
    return x

In [205]:
df['Cuisine_Style_list'] = df['Cuisine Style'].apply(listing)

In [206]:
df_kag['Cuisine_Style_list'] = df_kag['Cuisine Style'].apply(listing)

In [207]:
df['nb_of_cuisines'] = df['Cuisine_Style_list'].apply(lambda x : len(x))

In [208]:
df_kag['nb_of_cuisines'] = df_kag['Cuisine_Style_list'].apply(lambda x : len(x))

In [209]:
df[['Cuisine_Style_list','nb_of_cuisines']]

                                      Cuisine_Style_list  nb_of_cuisines
0                      [European, French, International]               3
1                                               [NoInfo]               1
2      [Japanese, Sushi, Asian, Grill, VegetarianFrie...               7
3                                               [NoInfo]               1
4          [German, CentralEuropean, VegetarianFriendly]               3
...                                                  ...             ...
39995  [Italian, VegetarianFriendly, VeganOptions, Gl...               4
39996  [French, American, Bar, European, VegetarianFr...               5
39997                                  [Japanese, Sushi]               2
39998  [Polish, European, EasternEuropean, CentralEur...               5
39999                                          [Spanish]               1

[40000 rows x 2 columns]

In [210]:
df_kag[['Cuisine_Style_list','nb_of_cuisines']].sample(5)

                                     Cuisine_Style_list  nb_of_cuisines
3771                    [Italian, Pizza, Mediterranean]               3
6298                                          [Italian]               1
1161                                           [NoInfo]               1
6251                                           [NoInfo]               1
4644  [Mediterranean, European, Spanish, VegetarianF...               4

## Отзывы

Гипотеза: Количество дней между отзывами имеет значение

In [167]:
df['date_of_Review'] = df['Reviews'].str.findall('\d+/\d+/\d+')
df['date_of_Review'].fillna(0)
df['data_2'] = df['date_of_Review'].apply(lambda x: pd.to_datetime(x).max())
df['data_1'] = df['date_of_Review'].apply(lambda x: pd.to_datetime(x).min())
df['delta'] = df['data_2'] - df['data_1']
df['delta_days'] = df['delta'].apply(lambda x : x.days)
df['delta_days'] = df['delta_days'].fillna(0)

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Restaurant_id       40000 non-null  object
 1   City                40000 non-null  object
 2   Cuisine Style       40000 non-null  object
 3   Ranking             40000 non-null  float64
 4   Rating              40000 non-null  float64
 5   Price Range         26114 non-null  object
 6   Number of Reviews   40000 non-null  float64
 7   Reviews             40000 non-null  object
 8   URL_TA              40000 non-null  object
 9   ID_TA               40000 non-null  object
 10  Price Range_int     40000 non-null  float64
 11  Capital             40000 non-null  int64
 12  Native Cusine       40000 non-null  object
 13  Native_test         40000 non-null  int64
 14  Cuisine_Style_list  40000 non-null  object
 15  nb_of_cuisines      40000 non-null  int64
 16  date_of_Review      40000 non-null  object
 17  data_2              33529 non-null  datetime64[ns]
 18  data_1              33529 non-null  datetime64[ns]
 19  delta               33529 non-null  timedelta64[ns]
 20  delta_days          40000 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(3), object(10), timedelta64[ns](1)
memory usage: 6.4+ MB

In [169]:
df_kag['date_of_Review'] = df_kag['Reviews'].str.findall('\d+/\d+/\d+')

In [64]:
df_kag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Restaurant_id       10000 non-null  object
 1   City                10000 non-null  object
 2   Cuisine Style       10000 non-null  object
 3   Ranking             10000 non-null  float64
 4   Price Range         6525 non-null   object
 5   Number of Reviews   10000 non-null  float64
 6   Reviews             10000 non-null  object
 7   URL_TA              10000 non-null  object
 8   ID_TA               10000 non-null  object
 9   Price Range_int     10000 non-null  float64
 10  Capital             10000 non-null  int64
 11  Native Cusine       10000 non-null  object
 12  Native_test         10000 non-null  int64
 13  Cuisine_Style_list  10000 non-null  object
 14  nb_of_cuisines      10000 non-null  int64
 15  date_of_Review      9998 non-null   object
dtypes: float64(3), int64(3), object(10)
memory usage: 1.2+ MB

In [125]:
df_kag['date_of_Review'] = df_kag['date_of_Review'].fillna(0)

In [127]:
df_kag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Restaurant_id       10000 non-null  object
 1   City                10000 non-null  object
 2   Cuisine Style       10000 non-null  object
 3   Ranking             10000 non-null  float64
 4   Price Range         6525 non-null   object
 5   Number of Reviews   10000 non-null  float64
 6   Reviews             9998 non-null   object
 7   URL_TA              10000 non-null  object
 8   ID_TA               10000 non-null  object
 9   Price Range_int     10000 non-null  float64
 10  Capital             10000 non-null  int64
 11  Native Cusine       10000 non-null  object
 12  Native_test         10000 non-null  int64
 13  Cuisine_Style_list  10000 non-null  object
 14  nb_of_cuisines      10000 non-null  int64
 15  date_of_Review      10000 non-null  object
dtypes: float64(3), int64(3), object(10)
memory usage: 1.2+ MB

In [74]:
df['date_of_Review'].sample()

1236    [11/10/2017, 06/30/2017]
Name: date_of_Review, dtype: object

In [170]:
df_kag['data_2'] = df_kag['date_of_Review'].apply(lambda x: pd.to_datetime(x).max())

TypeError: 'datetime.datetime' object is not callable

In [ ]:
df_kag['data_1'] = df_kag['date_of_Review'].apply(lambda x: pd.to_datetime(x).min())

In [ ]:
df_kag['delta'] = df_kag['data_2'] - df_kag['data_1']
df_kag['delta_days'] = df_kag['delta'].apply(lambda x : x.days)
df_kag['delta_days'] = df_kag['delta_days'].fillna(0)

## Создаем болванки

In [211]:
df = pd.get_dummies(data=df, columns=['City']) #Добавляем города

In [212]:
df_kag = pd.get_dummies(data=df_kag, columns=['City']) #Добавляем города

# Подготовка DataFrame

In [213]:
df2 = df
df_kag2 = df_kag

In [215]:
df2 = df2.drop(['Cuisine Style','Price Range','Reviews', 'URL_TA', 'ID_TA','Native Cusine','Cuisine_Style_list'], axis = 1)

In [231]:
df_kag2 = df_kag2.drop(['Cuisine Style','Price Range','Reviews', 'URL_TA', 'ID_TA','Native Cusine','Cuisine_Style_list'], axis = 1)

KeyError: "['Cuisine Style' 'Price Range' 'Reviews' 'URL_TA' 'ID_TA' 'Native Cusine'\n 'Cuisine_Style_list'] not found in axis"

In [228]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   Ranking            40000 non-null  float64
 2   Rating             40000 non-null  float64
 3   Number of Reviews  40000 non-null  float64
 4   Price Range_int    40000 non-null  float64
 5   Capital            40000 non-null  int64
 6   Native_test        40000 non-null  int64
 7   nb_of_cuisines     40000 non-null  int64
 8   City_Amsterdam     40000 non-null  uint8
 9   City_Athens        40000 non-null  uint8
 10  City_Barcelona     40000 non-null  uint8
 11  City_Berlin        40000 non-null  uint8
 12  City_Bratislava    40000 non-null  uint8
 13  City_Brussels      40000 non-null  uint8
 14  City_Budapest      40000 non-null  uint8
 15  City_Copenhagen    40000 non-null  uint8
 16  City_Dublin        40000 non-null  uint8
 17  City_Edinburgh     40000 non-null  uint8
 18  City_Geneva        40000 non-null  uint8
 19  City_Hamburg       40000 non-null  uint8
 20  City_Helsinki      40000 non-null  uint8
 21  City_Krakow        40000 non-null  uint8
 22  City_Lisbon        40000 non-null  uint8
 23  City_Ljubljana     40000 non-null  uint8
 24  City_London        40000 non-null  uint8
 25  City_Luxembourg    40000 non-null  uint8
 26  City_Lyon          40000 non-null  uint8
 27  City_Madrid        40000 non-null  uint8
 28  City_Milan         40000 non-null  uint8
 29  City_Munich        40000 non-null  uint8
 30  City_Oporto        40000 non-null  uint8
 31  City_Oslo          40000 non-null  uint8
 32  City_Paris         40000 non-null  uint8
 33  City_Prague        40000 non-null  uint8
 34  City_Rome          40000 non-null  uint8
 35  City_Stockholm     40000 non-null  uint8
 36  City_Vienna        40000 non-null  uint8
 37  City_Warsaw        40000 non-null  uint8
 38  City_Zurich        40000 non-null  uint8
dtypes: float64(4), int64(3), object(1), uint8(31)
memory usage: 3.6+ MB

In [232]:
df_kag2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      10000 non-null  object
 1   Ranking            10000 non-null  float64
 2   Number of Reviews  10000 non-null  float64
 3   Price Range_int    10000 non-null  float64
 4   Capital            10000 non-null  int64
 5   Native_test        10000 non-null  int64
 6   nb_of_cuisines     10000 non-null  int64
 7   City_Amsterdam     10000 non-null  uint8
 8   City_Athens        10000 non-null  uint8
 9   City_Barcelona     10000 non-null  uint8
 10  City_Berlin        10000 non-null  uint8
 11  City_Bratislava    10000 non-null  uint8
 12  City_Brussels      10000 non-null  uint8
 13  City_Budapest      10000 non-null  uint8
 14  City_Copenhagen    10000 non-null  uint8
 15  City_Dublin        10000 non-null  uint8
 16  City_Edinburgh     10000 non-null  uint8
 17  City_Geneva        10000 non-null  uint8
 18  City_Hamburg       10000 non-null  uint8
 19  City_Helsinki      10000 non-null  uint8
 20  City_Krakow        10000 non-null  uint8
 21  City_Lisbon        10000 non-null  uint8
 22  City_Ljubljana     10000 non-null  uint8
 23  City_London        10000 non-null  uint8
 24  City_Luxembourg    10000 non-null  uint8
 25  City_Lyon          10000 non-null  uint8
 26  City_Madrid        10000 non-null  uint8
 27  City_Milan         10000 non-null  uint8
 28  City_Munich        10000 non-null  uint8
 29  City_Oporto        10000 non-null  uint8
 30  City_Oslo          10000 non-null  uint8
 31  City_Paris         10000 non-null  uint8
 32  City_Prague        10000 non-null  uint8
 33  City_Rome          10000 non-null  uint8
 34  City_Stockholm     10000 non-null  uint8
 35  City_Vienna        10000 non-null  uint8
 36  City_Warsaw        10000 non-null  uint8
 37  City_Zurich        10000 non-null  uint8
dtypes: float64(3), int64(3), object(1), uint8(31)
memory usage: 849.7+ KB

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [217]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df2.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df2['Rating']

In [218]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [219]:
# всегда фиксируйте RANDOM_SEED, чтобы ваши эксперименты были воспроизводимы!
RANDOM_SEED = 42

In [220]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=RANDOM_SEED)

In [221]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [222]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100, verbose=1, n_jobs=-1, random_state=RANDOM_SEED)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    4.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    9.3s finished
[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:    0.0s
[Parallel(n_jobs=2)]: Done 100 out of 100 | elapsed:    0.0s finished

In [223]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.21108749999999998

In [224]:
len(df_kag2)

10000

In [235]:
df_kag3 = df_kag2.drop(['Restaurant_id'], axis=1)

In [236]:
df_kag3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ranking            10000 non-null  float64
 1   Number of Reviews  10000 non-null  float64
 2   Price Range_int    10000 non-null  float64
 3   Capital            10000 non-null  int64
 4   Native_test        10000 non-null  int64
 5   nb_of_cuisines     10000 non-null  int64
 6   City_Amsterdam     10000 non-null  uint8
 7   City_Athens        10000 non-null  uint8
 8   City_Barcelona     10000 non-null  uint8
 9   City_Berlin        10000 non-null  uint8
 10  City_Bratislava    10000 non-null  uint8
 11  City_Brussels      10000 non-null  uint8
 12  City_Budapest      10000 non-null  uint8
 13  City_Copenhagen    10000 non-null  uint8
 14  City_Dublin        10000 non-null  uint8
 15  City_Edinburgh     10000 non-null  uint8
 16  City_Geneva        10000 non-null  uint8
 17  City_Hamburg       10000 non-null  uint8
 18  City_Helsinki      10000 non-null  uint8
 19  City_Krakow        10000 non-null  uint8
 20  City_Lisbon        10000 non-null  uint8
 21  City_Ljubljana     10000 non-null  uint8
 22  City_London        10000 non-null  uint8
 23  City_Luxembourg    10000 non-null  uint8
 24  City_Lyon          10000 non-null  uint8
 25  City_Madrid        10000 non-null  uint8
 26  City_Milan         10000 non-null  uint8
 27  City_Munich        10000 non-null  uint8
 28  City_Oporto        10000 non-null  uint8
 29  City_Oslo          10000 non-null  uint8
 30  City_Paris         10000 non-null  uint8
 31  City_Prague        10000 non-null  uint8
 32  City_Rome          10000 non-null  uint8
 33  City_Stockholm     10000 non-null  uint8
 34  City_Vienna        10000 non-null  uint8
 35  City_Warsaw        10000 non-null  uint8
 36  City_Zurich        10000 non-null  uint8
dtypes: float64(3), int64(3), uint8(31)
memory usage: 771.6 KB

In [237]:
predict_submission = regr.predict(df_kag3)

len(predict_submission)

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:    0.0s
[Parallel(n_jobs=2)]: Done 100 out of 100 | elapsed:    0.1s finished

10000

In [239]:
sample_submission = pd.read_csv('sample_submission.csv')

In [240]:
def round_nearest(x, a):
    return round(x / a) * a

sample_submission['Rating'] = predict_submission.round(1)
sample_submission['Rating'] = round_nearest(sample_submission['Rating'], 0.5)


sample_submission.head(10)

sample_submission.to_csv('submission.csv', index=False)